@model IEnumerable<LibraryWebParking.Model.FullBookRoomModel>

@{
    ViewBag.Title = "searchBooking";
}

<h2>Αναζήτηση Κράτησης</h2>

@using (Html.BeginForm("searchBooking", "SearchBooikings", FormMethod.Post))
{
    <div class="search-form">
        <div class="input-group">
            <input type="text" placeholder="Επώνυμο....." name="lastName" class="form-control input-lg">
            <div class="input-group-btn">
                <button class="btn btn-lg btn-primary" type="submit">
                    Αναζήτηση
                </button>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LatName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedIn)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LatName)    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckedIn)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Σελίδα Πελάτη", "Details", "Client", new { @id = item.ClientId }, null)

                </td>

            </tr>
        }

    </table>
}
