@model IEnumerable<LibraryWebParking.Model.ParkingTypes>

@{
    ViewBag.Title = "AvailableParkingTypes";
}

<h2>AvailableParkingTypes</h2>

@using (Html.BeginForm("AvailableParkingTypes", "Home", FormMethod.Post))
{
    <input type="date" name="startDate" value="" />
    <input type="date" name="endDate" value="" />
    <input type="submit" value="Get Rooms" />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Book", "BookRoom","Book", new { id = item.Id }) 
                   
                </td>
            </tr>
        }

    </table>
}
