@model IEnumerable<LibraryWebParking.Model.ParkingTypes>

@{
    ViewBag.Title = "AvailableParkingTypes";
}

@using (Html.BeginForm("AvailableParkingTypes", "Home", FormMethod.Post))
{

    <h2>AvailableParkingTypes</h2>

    <input type="date" name="startDate" />
    <input type="date" name="endDate" />
    <input type="submit" value="Get Rooms" />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Book Now", "Edit", new { id = item.Id }) |                   
                </td>
            </tr>
        }

    </table>
}
