@model IEnumerable<LibraryWebParking.Model.spgetAvailableparkingsTypeCount>

@{
    ViewBag.Title = "AvailableParkingTypes";

    var startDate = ((DateTime)ViewBag.startDate).ToString("yyyy-MM-dd");
    var endDate = ((DateTime)ViewBag.endDate).ToString("yyyy-MM-dd");

}

<h2>Available Parkings</h2>

@using (Html.BeginForm("AvailableParkingTypes", "Home", FormMethod.Post))
{
    <input type="date" name="startDate" value="@startDate" />
    <input type="date" name="endDate" value="@endDate" />
    <input type="submit" value="See available Parkings" />

    <table class="table  table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remainingPositions)
            </th>
        </tr>

        @foreach (var parkingType in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => parkingType.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => parkingType.Desription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => parkingType.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => parkingType.remainingPositions)
        </td>
        <td>
            @Html.ActionLink("Book Now", "BookRoom", "Book", new { @id = parkingType.Id, @start = startDate, @end = endDate }, null)

        </td>
    </tr>
        }

    </table>
}