@model WebParkingMVC.Models.ParkingModel

@{
    ViewBag.Title = "Add Parkings Page";

    IEnumerable<SelectListItem> ParkingsTypeList = ViewBag.ParkingsTypes;
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary("",new {@class = "text-danger" })
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add a Parking Position</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ParkingNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParkingNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParkingNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParkingTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ParkingTypeId, ParkingsTypeList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ParkingTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
