@model LibraryWebParking.Model.Parkings

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parkings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingTypeId)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "SeeAllParkings")
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Message");
                    }
                </script>
            }|

        </div>
    }
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
}
